/* Write your CSS here */
.todos-item-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todos-item-title {
  font-size: 18px;
  margin-right: 10px;
}
.todos-item-del-btn {
  background-color: #ffffff;
  color: #ff0b37;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ff0b37;
  height: 28px;
  width: 60px;
  font-weight: 6000;
}
